.popup__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}

.popup__image {

  z-index: 100;
  display: block;
  max-width: 80vw;
  max-height: 80vh;

  object-fit: fill;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  float: right;

}

