.button__popup-edit{
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  color: white;
  font-size: 18px;
  background-color: black;
}

.button__popup-edit:disabled{
  background-color: white;
  box-shadow: 2px 2px 2px;
  color: grey;
}

.button__popup-ava{
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  color: white;
  font-size: 18px;
  background-color: black;
}

.button__popup-ava:disabled {
  background-color: white;
  box-shadow: 2px 2px 2px;
  color: grey;
}