.popup__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.popup__close-photo{
  position:relative;
  display: block;
 top:-255px;
 left:0;
  
}

.popup__photo{
  display: flex;
}
